<nav>
    <ul>
        <li id="dashboard">
            <a href="/dashboard">
                <span><i class="dashboard icon"></i></span>
                <span>Dashboard</span>
            </a>
        </li >
        <li>
            <a href="/users">
                <span><i class="users icon"></i></span>
                <span>Users</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span><i class="bar chart icon"></i></span>
                <span>Analytics</span>
            </a>
        </li>
        <li>
            <a href="https://www.google.es">
                <span><i class="sign out icon"></i></span>
                <span>Log out</span>
            </a>
        </li>
    </ul>
</nav>
