<nav>
    <ul>
        <li id="users" class="desactive">
            <a href="/users" onclick="setactive()">
                <span><i class="user icon"></i></span>
                <span>Users</span>
            </a>
        </li >
        <li>
            <a href="#ncomments">
                <span><i class="home icon"></i></span>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="#act-users">
                <span><i class="bar chart icon"></i></span>
                <span>Analytics</span>
            </a>
        </li>
        <li>
            <a href="https://www.google.es">
                <span><i class="sign out icon"></i></span>
                <span>Log out</span>
            </a>
        </li>
    </ul>
</nav>
